.canvas-main-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-handler {
  overflow: hidden;
  max-width: 960px;
  max-height: 540px;
}
canvas {
  width: 960px;
  height: 540px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.cursor {
  width: 10px;
  height: 10px;
  z-index: 999;
  position: absolute;
  transform: translate(50%, 50%);
  pointer-events: none;
}
